.login-container {
    background-image: url("") ;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
@media (min-width: 1368px ){ 
    .login-container {
    background-size: contain; 
    }
}